<div class="container">
  <div class="row">
    <div class="col-3">
      <div style="border: 1px solid #333333; text-align: center;">
        ジャンル検索
      </div>
      <div style="padding: 10px; border: 1px solid #333333;">
        <table>
          <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= genre.name %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 my-2">
          <div style="padding: 30px 0px ; border: 1px solid #333333;">
            ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-9">
        <h3>新着商品</h3>
        <% @items.each do |item| %>
          <div>
            <tr>
              <td></td>
              <td><%= item.name %></td><br>
              <td><%= item.price %></td>
            </tr>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>